

.conta
{
height: 600px;
width: 800px;
border: solid orange;
border-radius: 50px;


}

.boby
{
margin-top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.des
{
    height: 100px;
    width: 350px;
}
